h1 {
    font-size: 13px;
    margin-left: 10px;
    margin-top: 0px;
    vertical-align: top;
    display: inline-block;
}

table,
td,
th {
    border: 1px solid black;
    height: 16px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.page-break {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    page-break-after: always;
}

.header {
    margin-top: 10px;
    margin-bottom: 20px;
}

.header table td strong {
    padding: 0 5px;
}

.grades thead td {
    font-weight: bold;
    padding: 0 5px;
    white-space: nowrap;
    text-align: center;
}

.grades thead tr:last-child {
    font-weight: normal;
    font-size: 10px;
}

.grades table td:last-child {
    width: 100%;
}

.footer {
    margin-top: 20px;
}

.bigcell {
    vertical-align: top;
    height: 30px;
}

.signatures {
    margin-top: 20px;
}

.signatures table,
.signatures td {
    text-align: center;
    border: none;
}